/* Subsection */
.subsection {
    background: #B3B3B2;
    position: relative;
    border-radius: 20px 0px 0px 20px;
    padding: 24px 48px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.sub-button {
    position: absolute;
    top: 50%;
    right: 48px;
}

.sub-nav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
}

.sub-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Temporarily inactive */
/* .sub-nav-toggl {
    color: white;
    font-weight: 300;
}

.sub-nav-span {
    color: white;
}

.toggl-active {
    font-weight: 500;
    text-decoration: underline;
} */

.sub-footer {
    height: 112px;
}

.sub-text {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    color: white;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid white;
}

.sub-text-right {
    text-align: right;
}

@media all and (max-width: 992px) {
    .subsection {
        border-radius: 20px 20px 20px 20px;
        padding-bottom: 60%;
        margin: 0 10px;
    }

    .sub-nav {
        display: none;
    }
}
