/*General Styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p {
    font-weight: 300;
    line-height: 132%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

ul, ol {
    list-style-type: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    height: 100vh;
    display: flex;
}

.wraper {
    flex: 1;
}

.sub-heading {
    font-size: 16px;
    line-height: 124%;
    font-weight: 500;
    text-transform: uppercase;
}

@media all and (min-width: 992px) {
    .hide-desktop {
        display: none;
    }
}

@media all and (max-width: 992px) {
    .hide-mobile {
        display: none;
    }

    .container {
        flex-direction: column;
        max-height: 200vh;
    }
}

/* @media all and (max-width: 768px) {} */